.lead {
	margin: 0 auto;
	max-width: 984px;
	/* height: 1005px; */
  text-align: center;
}

@media (max-width: 1024px) {
	.lead {
		display: block;
		max-width: 90%;
		margin: 0 auto;
	}
}

@media (max-width: 768px) {
	.lead {
		max-width: 768px;
	}
	
}

@media (max-width: 320px) {
	.lead {
		max-width: 320px;
		height: 406px;
		
	}
}