.place__text {
	margin: 0 0 24px 0;
  font-size: 18px;
  line-height: 29px;
	font-style: normal;
  font-weight: 400;
  color: #ffffff;

}

.place__text:last-of-type {
	margin: 0 0 24px 0;
  font-size: 18px;
  line-height: 29px;
  font-weight: 400;
  color: #ffffff;

}

@media (max-width: 1024px) {
	.place__text {
		font-size: 1.8vw;
	}
 .place__text:last-of-type {
	font-size: 1.8vw;
 }
}


@media (max-width: 768px) {
	.place__text {
		max-width: 352px;
		font-size: 16px;
		line-height: 26.08px;
	}
	.place__text:last-of-type {
		font-size: 16px;
		margin-bottom: 0;
		line-height: 26.08px;
	}
}

@media (max-width: 650px) {
	.place__text {
		max-width: 100%;
		font-size: 16px;
	}
}


@media (max-width: 320px) {
	.place__text {
		max-width: 288px;
		font-size: 1.8vw;
		line-height: 26px;
		margin: 0 auto;
	}
	.place__text:last-of-type {
		max-width: 288px;
		font-size: 1.8vw;
		line-height: 26px;
		margin: 0 auto;
	}
}

