.footer__copyright {
	width: 186px;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 16px;
	margin: 0;
	text-align: end;
}

@media (max-width: 767px) {
	.footer__copyright {
		max-width: 137px;
	}
}

@media (max-width: 320px) {
	.footer__copyright {
		max-width: 186px;
		height: 14px;
		line-height: 14px;
		margin: 0;
		text-align: left;
	}
}