.intro {
	margin: 0 auto;
	max-width: 984px;
	margin-bottom: 92px;
}

@media (max-width: 1024px) {
	.intro {
		display: block;
		margin-left: 48px;
		margin-right: 48px;
		margin-bottom: 88px;
	}
}

@media (max-width: 768px) {
	.intro {
		margin-bottom: 85px;
		margin-top: -2px;
		margin-left: 25px;
	}
}

@media (max-width: 767px) {
	.intro {
		display: block;
		width: 90%;
		margin: 0;
		margin-left: 24px;
		margin-bottom: 64px;
	}
}

@media (max-width: 320px) {
	.intro {
		display: block;
		margin: 0;
		margin-left: 16px;
		margin-bottom: 64px;
	}
}