.cover {
  max-width: 1184px;
  margin: 0 auto;
  margin-bottom: 92px;
  margin-top: 2px;

}

@media (max-width: 1024px) {
  .cover {
		/*margin-top: 66px;*/
		margin-top: 0;
		margin-bottom: 94px;
  }
}

@media (max-width: 768px) {
	.cover {
		margin-top: 2px;
		margin-bottom: 0;
	}
}

@media (max-width: 320px) {
  .cover {
    padding-bottom: 63px;
  }
}