.lead__caption {
	max-width: 158px;
	height: 14px;
	font-size: 10px;
	line-height: 14px;
	letter-spacing: 1.5px;
	margin-top: 8px;
	text-transform: uppercase;
	
}

@media (max-width: 1280px) {
	.lead__caption {
		margin-right: 830px;
    max-width: 100%;
}
	}


@media (max-width: 1024px) {
	.lead__caption {
		margin: 0;
		margin-top: 10px;
		margin-right: 768px;
	}
}

@media (max-width: 768px) {
	.lead__caption {
		margin-left: -52px;
		margin-top: 2px;
		margin-right: 509px;
	}
}

@media (max-width: 320px) {
	.lead__caption {
		margin-top: 12px;
		margin-left: 11px;
		margin-right: 139px;
	}
}