.place {
  display: grid;
  grid-template-columns: minmax(440px, 460px) minmax(456px, 484px);
  gap: 48px 40px;
}

@media (max-width: 1280px) {
  .place {
    max-width: 984px;
    margin: 0 auto;
  }
}

@media (max-width: 1024px) {
  .place {
    grid-template-columns: 440px 1fr;
    margin: 0 auto;
    max-width: 928px; 
		gap: 46px 32px;
  }
}

@media (max-width: 768px) {
  .place {
    gap: 40px 28px;
    margin: 0;
    grid-template-columns: 340px 1fr;
  }
}

@media (max-width: 767px) {
  .place {
    gap: 32px;
    grid-template-columns: 1fr;
  }
}

@media (max-width: 320px) {
	.place {
		gap: 35px;
	}
}